<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <!-- <h1>This is a home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi asperiores totam iure magnam doloribus iste facilis quibusdam. Iusto sunt, repellendus et laudantium numquam, possimus deleniti adipisci corporis corrupti modi aliquam.</p>
    <button>submit</button>
    <h2></h2> -->

    <h1>Dice gave value :         <%= dice %>

        <% if(dice == 6) { %>
            <h2>Nice! RollDice Again.</h2>
                <%}%>

    </h1>
    <style>
        h1 {
            text-align: center;
            text-shadow: 1px;
            color: blueviolet;
            border: 2mm;
        }
    </style>
</body>
</html>